app/services/model_for_ikkyyu/Models/ssd/model.ckpt-V0.6.12.meta
app/services/model_for_ikkyyu/Models/ssd/model.ckpt-V0.6.12.data-00000-of-00001
app/services/model_for_ikkyyu/Models/attention/V0.7.11.pth
app/services/model_for_ikkyyu/Models/east/V0.7.11.ckpt.data-00000-of-00001
